<!-- Inner Page Header
    ================================================== -->
    <section class="tp--inner-header tp--section tp--section-dark tp--gradient-3 tp--pattern-7 tp--height-50 text-center">

      <div class="container tp--vertical-align">
        
        <div class="row">
          
          <div class="col-xs-12">
            
            <h2>Developers</h2>
            <p>Learn how Bait News was built using Azure & Xamarin</p>

          </div>

        </div>

      </div>

    </section>

        <!-- Team
    ================================================== -->
    <section id="team" class="tp--section tp--team tp--team-2">

      <div class="page-header text-center">
        <h2>Backend Services</h2>
      </div>

      <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/azure/apimanagement.png" alt="Team Member">
            <h3 class="name">Azure API Management</h3>
            <h4 class="title">Developer Portal and API Authorization</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/cosmos.png" alt="Team Member">
            <h3 class="name">Cosmos DB</h3>
            <h4 class="title">Planet scale data storage</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/storage.png" alt="Team Member">
            <h3 class="name">Azure Storage</h3>
            <h4 class="title">Blob storage for logs & image content</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/search.png" alt="Team Member">
            <h3 class="name">Azure Search</h3>
            <h4 class="title">Adds search engine features to the app</h4>
           </div>
      </div>

      <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/azure/appservices.png" alt="Team Member">
            <h3 class="name">Azure App Services</h3>
            <h4 class="title">Hosts the ASP.NET Core web backend</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/appinsights.png" alt="Team Member">
            <h3 class="name">Application Insights</h3>
            <h4 class="title">Backend analytics on performance and errors</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/mobilecenter.png" alt="Team Member">
            <h3 class="name">Azure Mobile Center</h3>
            <h4 class="title">Continous Integration & Delivery, crash reporting & analytics</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/backup.png" alt="Team Member">
            <h3 class="name">Backup</h3>
            <h4 class="title">Backup for peace of mind</h4>
            </div>
      </div>

    </section>


    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section text-justify">

      <div class="page-header text-center">
        <h2>Built with Xamarin</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">

          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>

        </div><!-- /.row -->
      </div>

    </section>



    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section tp--features text-center tp--section-dark tp--gradient-3 tp--diagonal tp--diagonal-1 tp--padding-lg">

      <div class="page-header text-center">
        <h2>Learning Opportunities</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-layers icon-small"></i>
            </div>
            <h3>Security</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-drop icon-small"></i>
            </div>
            <h3>Azure Services</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-screen-desktop icon-small"></i>
            </div>
            <h3>Mobile Architecture</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-rocket icon-small"></i>
            </div>
            <h3>Continous Integration & Deployment</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
        </div><!-- /.row -->
      </div>

    </section>



    

    <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--cta-2 tp--section-light">

      <div class="container">
        
        <div class="row tp--col-sm-vertical-align">

          <div class="col-sm-7 col-sm-offset-1">
            <h2 class="title">Download from Github</h2>
            <b>git clone</b> <p>https://github.com/MikeCodesDotNet/Bait-News.git</p>
          </div>
          <div class="col-sm-3">
            <p><a href="https://github.com/MikeCodesDotNet/Bait-News" class="btn btn-primary btn-lg">Get started</a></p>
          </div>

        </div>

      </div>

    </section>
