<!-- Inner Page Header
    ================================================== -->
    <section class="tp--inner-header tp--section tp--section-dark tp--gradient-3 tp--pattern-7 tp--height-50 text-center">

      <div class="container tp--vertical-align">
        
        <div class="row">
          
          <div class="col-xs-12">
            
            <h2>Developers</h2>
            <p>Learn how Bait News was built using Azure & Xamarin</p>

          </div>

        </div>

      </div>

    </section>

        <!-- Team
    ================================================== -->
    <section id="team" class="tp--section tp--team tp--team-2">

      <div class="page-header text-center">
        <h2>Backend Services</h2>
      </div>

      <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/azure/apimanagement.png" alt="Team Member">
            <h3 class="name">Azure API Management</h3>
            <h4 class="title">Developer Portal and API Authorization</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/cosmos.png" alt="Team Member">
            <h3 class="name">Cosmos DB</h3>
            <h4 class="title">Planet scale data storage</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/storage.png" alt="Team Member">
            <h3 class="name">Azure Storage</h3>
            <h4 class="title">Blob storage for logs & image content</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/search.png" alt="Team Member">
            <h3 class="name">Azure Search</h3>
            <h4 class="title">Adds search engine features to the app</h4>
           </div>
      </div>

      <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/azure/appservices.png" alt="Team Member">
            <h3 class="name">Azure App Services</h3>
            <h4 class="title">Hosts the ASP.NET Core web backend</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/appinsights.png" alt="Team Member">
            <h3 class="name">Application Insights</h3>
            <h4 class="title">Backend analytics on performance and errors</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/mobilecenter.png" alt="Team Member">
            <h3 class="name">Azure Mobile Center</h3>
            <h4 class="title">Continous Integration & Delivery, crash reporting & analytics</h4>
            </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/backup.png" alt="Team Member">
            <h3 class="name">Backup</h3>
            <h4 class="title">Backup for peace of mind</h4>
            </div>
      </div>


          <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/azure/trafficmanager.png" alt="Team Member">
            <h3 class="name">Traffic Manager</h3>
            <h4 class="title">DNS Routing</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/cdn.png" alt="Team Member">
            <h3 class="name">Azure CDN</h3>
            <h4 class="title">Content Delivery Network</h4>
           </div>
		 <div class="item">
         <img class="display-pic" src="../images/azure/functions.png" alt="Team Member">
            <h3 class="name">Azure Functions</h3>
            <h4 class="title">Fetch new content hourly</h4>
           </div>
        <div class="item">
          <img class="display-pic" src="../images/azure/dotnetcore.png" alt="Team Member">
            <h3 class="name">ASP.NET Core 1.1</h3>
            <h4 class="title">Used for this website and mobile backend</h4>
            </div>
       
      </div>


    </section>


     <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section tp--features text-center tp--section-dark tp--gradient-3 tp--diagonal tp--diagonal-1 tp--padding-lg">

      <div class="page-header text-center">
        <h2>Learning Opportunities</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-layers icon-small"></i>
            </div>
            <h3>Security</h3>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-drop icon-small"></i>
            </div>
            <h3>Azure Services</h3>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-screen-desktop icon-small"></i>
            </div>
            <h3>Mobile Architecture</h3>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-rocket icon-small"></i>
            </div>
            <h3>Continous Integration & Deployment</h3>
          </div>
        </div><!-- /.row -->
      </div>

    </section>


    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section text-justify">

      <div class="page-header text-center">
        <h2>Built with Xamarin</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">

          <div class="col-sm-6 col-md-4 col-md-offset-2">
				<p>Developed using Xamarin.iOS, Bait News provides you with a wealth of snippets to reuse in your existing apps. The app showcases the latest features from iOS, with integrations include Spotlight search, 3D Touch and App Transport Security. </p>
          </div>

          <div class="col-sm-6 col-md-4">
				<p>You can find a copy of the code on Github. If you're interested in porting Bait News to new platforms, then please get in touch as I'd love to support you. </p>
          </div>

        </div><!-- /.row -->
      </div>

    </section>



    <!-- Featured Sections
    ================================================== -->
    <section id="featured1" class="tp--section tp--features tp--section-dark tp--diagonal tp--diagonal-1 tp--gradient-18">

      <div class="container">
        <div class="row tp--col-sm-vertical-align">

          <div class="col-md-5 text-center text-md-left">
            <h2 class="title">Try the API today</h2>
            <p>Bait News leverages Azure API Management to provide a  consistent and modern API gateway for interacting with it's' backend services. You can sign up for a unique API Key to unlock accessto get started querying the service.</p>
            <a class="btn btn-primary" href="https://dev.baitnews.io/" role="button">Learn more</a>
          </div>

          <div class="col-md-6 col-md-offset-1">
            <img src="images/featured-img-2.png" class="img-responsive" alt="">
          </div>
          
        </div>
      </div>

    </section>

        <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--cta-2 tp--section-light">

      <div class="container">
        
        <div class="row tp--col-sm-vertical-align">

          <div class="col-sm-7 col-sm-offset-1">
            <h2 class="title">Download from Github</h2>
            <b>git clone</b> <p>https://github.com/MikeCodesDotNet/Bait-News.git</p>
          </div>
          <div class="col-sm-3">
            <p><a href="https://github.com/MikeCodesDotNet/Bait-News" class="btn btn-primary btn-lg">Get started</a></p>
          </div>

        </div>

      </div>

    </section>
