<section id="intro" class="tp--intro tp--intro-dark tp--slider-single tp--owl-carousel-single owl-carousel owl-theme tp--intro-height-100" data-carousel-options='{ "items": "1", "mouseDrag": false, "touchDrag": false, "responsive": { "0": { "items":"1" } } }'>

        <div class="item tp--intro-content-left text-sm-center tp--gradient-3 tp--pattern-7 tp--intro-diagonal tp--intro-diagonal-1">

          <div class="container">

            <div class="row tp--col-sm-vertical-align tp--col-xs-vertical-align tp--vertical-align-intro">

              <div class="col-sm-12 col-md-5 col-md-offset-1">
                <div>
                  <h1>Can you spot fake news?</h1>
                  <p>Have you seen the madness that gets printed today? Bait News shines a light on the insanity and aims to change the way you look at news.</p>
                  <a class="btn btn-lg btn-warning popup-modal" href="#modal-register">Learn More</a>
                </div>
              </div>
              <div class="col-sm-12 col-md-5 col-md-offset-1 hidden-sm tp--margin-top-0">
                <img src="images/devices/device-iphone-1.png" class="visible-xl img-responsive img-65" alt="">
              </div>
            </div>

          </div>

        </div>

    </section>

<div class="row">

    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section text-justify">

      <div class="page-header text-center">
        <h2>The Idea</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">

          <div class="col-sm-6 col-md-4 col-md-offset-2">
					<p>Bait News is an original iOS app designed to test your ability to spot fake news. We have some of the most amusing headlines ever printed in our database for you to browse. Once you think you've got the hang of spotting the fake headlines, try out the test. It'll show you a mixture of amusing real headlines and satire.</p>
					
          </div>

          <div class="col-sm-6 col-md-4">
          <p> Bait News is community-based, so we encourage you to get involved in leaving comments, upvoting and submitting headlines. We store all your data securely in our databases and make use of secure connections to all devices with HTTPS used for all communication. </p>
				</div>

        </div><!-- /.row -->
      </div>

    </section>

	 <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section tp--features text-center tp--section-dark tp--gradient-3 tp--diagonal tp--diagonal-1 tp--padding-lg">

      <div class="page-header text-center">
        <h2>Features</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">
    
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-user icon-small"></i>
            </div>
            <h3>Social Enabled</h3>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-refresh icon-small"></i>
            </div>
            <h3>Up to date news</h3>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-rocket icon-small"></i>
            </div>
            <h3>Planet Scale infrastructure</h3>
          </div>
	      <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-layers icon-small"></i>
            </div>
            <h3>Secure by design</h3>
          </div>
        </div><!-- /.row -->
      </div>

    </section>

	     <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--cta-2 tp--section-light">

      <div class="container">
        
        <div class="row tp--col-sm-vertical-align">

          <div class="col-sm-7 col-sm-offset-1">
            <h2 class="title">Get The App</h2>
            <p>Download the Bait News app from the App Store</p>
          </div>
          <div class="col-sm-3">
            <p><a href="#" class="btn btn-primary btn-lg">Coming Soon</a></p>
          </div>

        </div>

      </div>

    </section>


</div>
