<!-- Inner Page Header
    ================================================== -->
    <section class="tp--inner-header tp--section tp--section-dark tp--gradient-3 tp--pattern-7 tp--height-50 text-center">

      <div class="container tp--vertical-align">
        
        <div class="row">
          
          <div class="col-xs-12">
            
            <h2>About Us</h2>
            <p>Learn about our company and who we are</p>

          </div>

        </div>

      </div>

    </section>



    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section text-justify">

      <div class="page-header text-center">
        <h2>Who We Are</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">

          <div class="col-sm-6 col-md-4 col-md-offset-2">
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>

          <div class="col-sm-6 col-md-4">
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>

        </div><!-- /.row -->
      </div>

    </section>



    <!-- About Section
    ================================================== -->
    <section id="about" class="tp--section tp--features text-center tp--section-dark tp--gradient-3 tp--diagonal tp--diagonal-1 tp--padding-lg">

      <div class="page-header text-center">
        <h2>Our Core Values</h2>
      </div>

      <div class="container" data-aos="fade-up" data-aos-duration="750">

        <div class="row">
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-layers icon-small"></i>
            </div>
            <h3>Personal Accountability</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-drop icon-small"></i>
            </div>
            <h3>Strive to be the best</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-screen-desktop icon-small"></i>
            </div>
            <h3>Teamwork</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
          <div class="col-sm-6 col-md-3 tp--feature">
            <div class="tp--icon-wrapper">
              <i class="tp--icon-gradient tp--background-white icon-rocket icon-small"></i>
            </div>
            <h3>Get your hands dirty</h3>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>
          </div>
        </div><!-- /.row -->
      </div>

    </section>


    <!-- Team
    ================================================== -->
    <section id="team" class="tp--section tp--team tp--team-2">

      <div class="page-header text-center">
        <h2>Meet Our Team</h2>
      </div>

      <div class="owl-carousel tp--slider-multiple">
        <div class="item">
          <img class="display-pic" src="../images/user-avatar4.jpg" alt="Team Member">
            <h3 class="name">David Parrelli</h3>
            <h4 class="title">Product Manager</h4>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="item">
          <img class="display-pic" src="../images/user-avatar5.jpg" alt="Team Member">
            <h3 class="name">Pete Burg</h3>
            <h4 class="title">UI Designer</h4>
            <p class="desc">Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="item">
          <img class="display-pic" src="../images/user-avatar6.jpg" alt="Team Member">
            <h3 class="name">John Hilton</h3>
            <h4 class="title">Senior Developer</h4>
            <p class="desc">Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="item">
          <img class="display-pic" src="../images/user-avatar1.jpg" alt="Team Member">
            <h3 class="name">Sarah Miller</h3>
            <h4 class="title">Creative Director</h4>
            <p class="desc">Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="item">
          <img class="display-pic" src="../images/user-avatar2.jpg" alt="Team Member">
            <h3 class="name">Tracy Wheeler</h3>
            <h4 class="title">Developer</h4>
            <p class="desc">Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>
        <div class="item">
          <img class="display-pic" src="../images/user-avatar3.jpg" alt="Team Member">
            <h3 class="name">Adrian Filloti</h3>
            <h4 class="title">Account Manager</h4>
            <p class="desc">Maecenas eu placerat ante. Fusce ut neque justo, et aliquet enim. In hac habitasse platea dictumst. Nullam commodo neque erat.</p>
            <a class="icon tp--icon-twitter-hover" href="http://www.twitter.com/dparrelli" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon tp--icon-facebook-hover" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a class="icon tp--icon-linkedin-hover" href="http://www.linkedin.com/pub/david-parrelli/17/b22/a11" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a class="icon tp--icon-dribbble-hover" href="http://dribbble.com/dparrelli" target="_blank"><i class="fa fa-dribbble"></i></a>
        </div>

      </div>

    </section>

    

    <!-- Call to Action
    ================================================== -->
    <section class="tp--section tp--cta tp--cta-2 tp--section-light">

      <div class="container">
        
        <div class="row tp--col-sm-vertical-align">

          <div class="col-sm-7 col-sm-offset-1">
            <h2 class="title">Find hidden gems in your city.</h2>
            <p>Sign up to get started with your free account.</p>
          </div>
          <div class="col-sm-3">
            <p><a href="#modal-register" class="btn btn-primary btn-lg popup-modal">Get started</a></p>
          </div>

        </div>

      </div>

    </section>
