//
// Portfolio
// --------------------------------------------------

.tp--portfolio {

  .tp--portfolio-grid {

    img {
      width: 100%;
    }

    .caption-text {
      h1 {
        color: white;
      }
    }

  }


  // --- Filter Styles ---

  .tp--portfolio-filters {
    margin-bottom: 1em;
    line-height: 1;
    margin: 0 auto 3em;

    .tp--menu-list {
      position: relative;
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;

      @media screen and (max-width:55em) {
        display: block;
      }

      .tp--menu-item {
        display: block;
        margin: 0;
        float: left;

        @media screen and (max-width:55em) {
          float: none;
        }

        .tp--menu-link {
          font-size: 1.05em;
          font-weight: bold;
          display: block;
          padding: 1em;
          cursor: pointer;
          background: none;
          border: none;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -webkit-touch-callout: none;
          -khtml-user-select: none;
          -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

          width: 120px;
          height: 3em;
          text-align: center;
          color: inherit;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;

          @media screen and (max-width:55em) {
            display: inline;
          }

          &:hover,
          &:focus {
            outline: none;
            text-decoration: none;
            color: darken($text-color, 5%);
          }
        }

        &:nth-child(1) {
          &.tp--menu-item--current {
            ~ .tp--menu-line {
              -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
            }
          }
        }

        &:nth-child(2) {
          &.tp--menu-item--current {
            ~ .tp--menu-line {
              -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0);
            }
          }
        }

        &:nth-child(3) {
          &.tp--menu-item--current {
            ~ .tp--menu-line {
              -webkit-transform: translate3d(200%, 0, 0);
              transform: translate3d(200%, 0, 0);
            }
          }
        }

        &:nth-child(4) {
          &.tp--menu-item--current {
            ~ .tp--menu-line {
              -webkit-transform: translate3d(300%, 0, 0);
              transform: translate3d(300%, 0, 0);
            }
          }
        }

        &:nth-child(5) {
          &.tp--menu-item--current {
            ~ .tp--menu-line {
              -webkit-transform: translate3d(400%, 0, 0);
              transform: translate3d(400%, 0, 0);
            }
          }
        }

        @media screen and (max-width:55em) {

          &:nth-child(1) {
            &.tp--menu-item--current {
              ~ .tp--menu-line {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
              }
            }
          }

          &:nth-child(2) {
            &.tp--menu-item--current {
              ~ .tp--menu-line {
                -webkit-transform: translate3d(0, 3em, 0);
                transform: translate3d(0, 3em, 0);
              }
            }
          }

          &:nth-child(3) {
            &.tp--menu-item--current {
              ~ .tp--menu-line {
                -webkit-transform: translate3d(0, 6em, 0);
                transform: translate3d(0, 6em, 0);
              }
            }
          }

          &:nth-child(4) {
            &.tp--menu-item--current {
              ~ .tp--menu-line {
                -webkit-transform: translate3d(0, 9em, 0);
                transform: translate3d(0, 9em, 0);
              }
            }
          }

          &:nth-child(5) {
            &.tp--menu-item--current {
              ~ .tp--menu-line {
                -webkit-transform: translate3d(0, 12em, 0);
                transform: translate3d(0, 12em, 0);
              }
            }
          }

        }
        
      }

      .tp--menu-item--current {
        .tp--menu-link {
          color: #bcbcbc;
          -webkit-transition: color 0.5s;
          transition: color 0.5s;
        }
      } 
    }

    .tp--menu-line {
      position: absolute;
      top: 100%;
      left: 0;
      width: 120px;
      height: 2px;
      pointer-events: none;
      // border: 1px solid #fff;
      border-width: 0 45px;
      background: transparent;
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s;
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1);
      -webkit-transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);
      transition-timing-function: cubic-bezier(1, 0.01, 0, 1.22);

      &:after {
        content: '';
        position: absolute;
        left: 35%;
        right: 35%;
        margin: auto;
        height: 2px;
        background: #bcbcbc;
      }

      @media screen and (max-width:55em) {
        top: 3em;
        right: 0;
        margin: auto;
      }
    }

  }

}



