// --- Theme Colours ---

$theme-colors: (

	blue: (
		primary:	#5AB2EC
	),

	light-blue: (
		primary:	#92CAE6
	),

	orange: (
		primary:	#F3904F
	),

	brown: (
		primary:	#A47932
	),

	red: (
		primary:	#EC414D
	),

	turquoise: (
		primary:	#94DAD5
	),

	green: (
		primary:	#21DEAB
	),

	purple: (
		primary:	#584BAA
	)

);




// --- Gradient Backgrounds ---
// Credit: uigradients.com

$theme-gradients: (

	// Gradient name: Visions of Grandeur
	gradient-1: (
		color-a:	#000046,
		color-b:	#1CB5E0
	),

	// Gradient name: Chitty Chitty Bang Bang
	gradient-2: (
		color-a:	#007991,
		color-b:	#78ffd6
	),

	// Gradient name: Blue Skies
	gradient-3: (
		color-a:	#56CCF2,
		color-b:	#2F80ED
	),

	// Gradient name: Sunkist
	gradient-4: (
		color-a:	#F2994A,
		color-b:	#F2C94C
	),

	// Gradient name: Sha la la
	gradient-5: (
		color-a:	#D66D75,
		color-b:	#E29587
	),

	// Gradient name: Aubergine
	gradient-6: (
		color-a:	#20002c,
		color-b:	#cbb4d4
	),

	// Gradient name: Venice
	gradient-7: (
		color-a:	#6190E8,
		color-b:	#A7BFE8
	),

	// Gradient name: Orca
	gradient-8: (
		color-a:	#44A08D,
		color-b:	#093637
	),

	// Gradient name: Can You Feel The Love Tonight
	gradient-9: (
		color-a:	#4568DC,
		color-b:	#B06AB3
	),

	// Gradient name: What lies Beyond
	gradient-10: (
		color-a:	#F0F2F0,
		color-b:	#000C40
	),

	// Gradient name: Rose Colored Lenses
	gradient-11: (
		color-a:	#E8CBC0,
		color-b:	#636FA4
	),

	// Gradient name: Mild
	gradient-12: (
		color-a:	#67B26F,
		color-b:	#4ca2cd
	),

	// Gradient name: Lush
	gradient-13: (
		color-a:	#56ab2f,
		color-b:	#a8e063
	),

	// Gradient name: Deep Sea Space
	gradient-14: (
		color-a:	#2C3E50,
		color-b:	#4CA1AF
	),

	// Gradient name: Solid Vault 
	gradient-15: (
		color-a:	#3a7bd5,
		color-b:	#3a6073
	),

	// Gradient name: Inbox
	gradient-16: (
		color-a:	#457fca,
		color-b:	#5691c8
	),

	// Gradient name: Endless River
	gradient-17: (
		color-a:	#43cea2,
		color-b:	#185a9d
	),

	// Gradient name: ServQuick
	gradient-18: (
		color-a:	#485563,
		color-b:	#29323c
	),

	// Gradient name: Reef
	gradient-19: (
		color-a:	#00d2ff,
		color-b:	#3a7bd5
	),

	// Gradient name: Electric Violet
	gradient-20: (
		color-a:	#4776E6,
		color-b:	#8E54E9
	),

	// Gradient name: Titanium
	gradient-21: (
		color-a:	#283048,
		color-b:	#859398
	),

	// Gradient name: Midnight City
	gradient-22: (
		color-a:	#232526,
		color-b:	#414345
	)

);