/* -------------------
THEME - GREEN
---------------------- */

@import '../base/_variables'; 
@import '../base/_mixins';
@import '_theme';


// --- Base color ---
$theme-name: 					green;
$color-primary: 			map-get(map-get($theme-colors, $theme-name), primary);


// --- Link Settings ---
$link-color-hover:   	$color-primary;
$link-color-active:   $color-primary;


// --- Section Background Colours ---
$section-bg-light:		rgb(245, 250, 255);
$section-bg-dark:			$color-primary;


@import '_theme-content';
@import '_theme-modules';
@import '_theme-plugins';     

